@{
    ViewData["Title"] = "Home";
}
<main class="mt-3 pt-3">
    <div class="container home">
        <section id="intro" class="card fadeIn wow" style="animation-name: fadeIn; visibility: visible;">
            <div class="card-body my-5 px-5 py-5 text-white">
                <h1 class="mb-4">
                    <strong>Save time</strong>
                </h1>
                <p>
                    <strong>Let us do the grocery shopping for you</strong>
                </p>
                <a class="btn btn-wg-green btn-lg btn-rounded waves-effect waves-light" asp-controller="Account" asp-action="LogIn">Sign up</a>
            </div>
        </section>
        <section class="section pt-4">
            <h4 class="font-weight-bold mt-4 title-1" style="letter-spacing: 2px;">
                <strong>SPECIALS</strong>
            </h4>
            <hr class="mb-5 wg-black" style="border-top: 3px solid rgba(0,0,0,.1);">
            <div class="fadeIn mb-4 row wow" style="animation-name: fadeIn; visibility: visible;">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="overlay view">
                            <img alt="" class="card-img-top" src="https://woodgrovegroceriesb2c.blob.core.windows.net/images/apples.jpg">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-1">Apples</h5>
                            <span class="badge badge-pill mb-2">1kg</span>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="overlay view">
                            <img alt="" class="card-img-top" src="https://woodgrovegroceriesb2c.blob.core.windows.net/images/bananas.jpg">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-1">Bananas</h5>
                            <span class="badge badge-pill mb-2 wg-black">180g</span>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="overlay view">
                            <img alt="" class="card-img-top" src="https://woodgrovegroceriesb2c.blob.core.windows.net/images/oranges.jpg">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-1">Oranges</h5>
                            <span class="badge badge-pill mb-2 wg-black">180g</span>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star wg-black-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star grey-text"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
