iframe {
    height: 100%;
    min-height: 700px;
    width: 100%
}

.btn-wg-green {
    background-color: #6cbf84;
}

.card .card-body h4 {
    font-weight: 400;
}

.fa {
    text-align: center;
    width: 16px;
}

.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 1050;
    background-color: #fff;
    padding: 0 1.5rem 1.5rem;
}

.wg-black {
    background-color: #323339;
}

@media (min-width: 1200px) {
    main, .page-footer {
        padding-left: 270px;
    }
}
