@{
    ViewData["Title"] = "Account Link Error";
}

<div class="container">
    <h1>Retry Limit Exceeded</h1>
    @*<p>We can't link your WingTip Toys account to your social account because your social account already exists.</p>*@
    <p>You have exceeded the maximum number of retries.</p>
    <hr/>
</div>