@{
    ViewData["Title"] = "Time Out Error";
}

<div class="container">
    <h1>Time Out error</h1>
    @*<p>We can't link your WingTip Toys account to your social account because your social account already exists.</p>*@
    <p>Your request has timed out. Please try again.</p>
    <hr/>
</div>