@using System.Security.Claims
@using WoodGroveGroceriesWebApplication.Extensions
@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        @if (User.IsInBusinessCustomerManagerRole() || User.IsInIndividualCustomerRole())
        {
            <li class="nav-item">
                <a class="font-weight-bold nav-link" asp-controller="CatalogItem" asp-action="Index">Catalog</a>
            </li>
        }
        @if (User.IsInBusinessCustomerManagerRole())
        {
            <li class="nav-item ml-3">
                @await Component.InvokeAsync("Pantry", User.FindFirstValue(Constants.ClaimTypes.TenantIdentifier))
            </li>
        }
        @if (User.IsInBusinessCustomerStockerRole() || User.IsInIndividualCustomerRole())
        {
            <li class="nav-item ml-3">
                @await Component.InvokeAsync("Trolley", User.FindFirstValue(Constants.ClaimTypes.ObjectIdentifier))
            </li>
        }
        <li class="dropdown ml-3 nav-item">
            <a id="navbarDropdownMenuLink-4" class="dropdown-toggle font-weight-bold nav-link waves-effect waves-light" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                <i class="fa fa-user wg-black-text"></i> @User.Identity.Name - @User.GetRoleForDisplay()
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-4">
                @if (User.IsInIndividualCustomerRole() || User.IsInBusinessCustomerManagerRole() || User.IsInBusinessCustomerStockerRole())
                {
                    <a class="dropdown-item waves-effect waves-light" asp-controller="Account" asp-action="EditProfile">Edit profile</a>
                }
                <a class="dropdown-item waves-effect waves-light" asp-controller="Account" asp-action="LogOut">Sign out</a>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="font-weight-bold nav-link" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
    </ul>
}
