<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- inject:css -->
    <!-- endinject -->
    <!-- removeIf(production) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="https://woodgroveb2ctmpls.blob.core.windows.net/default/css/style.css" rel="stylesheet">
    <!-- endRemoveIf(production) -->
  </head>
  <body>
    <main>
      <div class="container self-asserted-container account-profile-container">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <div class="card-header">
                    <h3>WoodGrove</h3>
                </div>
                <div id="api"></div>
              </div>
            </div>
          </div>
        </div>
    </main>
  </body>
</html>
