@using WoodGroveGroceriesWebApplication.Managers
@model WoodGroveGroceriesWebApplication.ViewComponentModels.PantryViewComponentModel

@{
    var industry = (IIndustry) ViewData["Industry"];
}

    <a class="font-weight-bold nav-link waves-effect waves-light" asp-controller="Pantry" asp-action="Index">
        <!--<span class="badge badge-pill wg-green">@Model.ItemCount</span>-->
        <!--<i class="fa fa-cutlery wg-black-text" aria-hidden="true"></i>-->
        <span class="clearfix d-none d-sm-inline-block">@industry.PantryHeader</span>
    </a>